*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.wrapper {
  margin: 0 10rem;
}

.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 08rem;
}

.header h1 {
  color: hotpink;
}

h1 {
  font-size: 6rem;
}

p {
  font-size: 4rem;
  line-height: 1.5;
}

small {
  font-size: 10px;
}

.text-info {
  margin-bottom: 08rem;
}

.t-handle-input {
  padding: 18px;
  outline: none;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 04rem;
  font-size: 15px;
}

.submit-btn {
  background: #FFDE39;
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
}

.main .notice-badge {
  font-size: 18px;
  background: lightblue;
  padding: 10px;
  border-radius: 5px;
}

.profileCard {
  width: 600px;
  border: 1px solid black;
  margin: 0 auto;
  background: #fff;
}

.embedCode {
  font-size: 15px;
}

.embedInfo {
  text-align: center;
  font-size: 22px;
  margin: 08rem;
}

.main pre {
  padding: 25px;
  margin: 0 auto;
  font-size: 18px;
  background: #000;
  display: none;
  overflow-x: scroll;
}

.snippet {
  color: #fff;
}

/* Profile Card Styles */
.img-container {
  height: 200px;
  border-bottom: 1px solid black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-image: skyblue;
}

.profile-img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 10px;
  top: 150px;
  display: inline-block;
  border-radius: 50%;
  border: 4px solid #fff;
}

.profileCard .profile-name {
  padding: 10px;
}

.profileCard .profile-name p {
  font-size: 18px;
  position: relative;
  top: 40px;
}

.profileCard .profile-name .twitter-handle {
  font-size: 15px;
  color: rgb(90, 90, 90);
}

.profileCard .profile-bio {
  padding: 10px;
  position: relative;
  top: 35px;
  font-size: 15px;
}

.profileCard .location-and-url {
  font-size: 15px;
  color: rgb(90, 90, 90);
  padding: 40px 10px 10px 10px;
}

.profileCard .follow-count {
  font-size: 15px;
  color: rgb(90, 90, 90);
  padding: 10px;
}

.count {
  font-weight: bold;
  color: black;
  padding-right: 2px;
}

.following,
.followers {
  display: inline-block;
  padding-right: 8px;
}

.location,
.url {
  display: inline-block;
}

footer {
  border-top: 1px solid black;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin-top: 08rem;
}

footer p {
  font-size: 15px;
}


/* Media query for profile twitter profile card */
@media all and (max-width: 768px) {
  .profileCard {
    width: 480px;
  }

  .img-container {
    height: 160px;
  }

  .profile-img {
    top: 110px;
  }
}

@media all and (max-width: 570px) {
  .profileCard {
    width: 320px;
  }

  .profile-img {
    width: 80px;
    height: 80px;
    top: 70px;
  }

  .img-container {
    height: 107px;
  }
}

@media all and (max-width: 420px) {
  .profileCard {
    width: 100%;
  }

  .img-container {
    height: 60px;
  }

  .profile-img {
    width: 70px;
    height: 70px;
    top: 35px;
  }
}


/* Media query for html font size */
@media all and (max-width: 809px) {
  html {
    font-size: 50%;
  }
}

@media all and (max-width: 650px) {
  html {
    font-size: 25%;
  }
}

@media all and (max-width: 320px) {
  .wrapper {
    margin: 0 2rem;
  }
}