*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.wrapper {
  margin: 0 10rem;
}

.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 08rem;
}

.header h1 {
  color: hotpink;
}

h1 {
  font-size: 6rem;
}

p {
  font-size: 4rem;
  line-height: 1.5;
}

small {
  font-size: 10px;
}

.text-info {
  margin-bottom: 08rem;
}

.t-handle-input {
  padding: 18px;
  outline: none;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 04rem;
  font-size: 15px;
}

.submit-btn {
  background: #FFDE39;
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main {
  height: 200px;
  border: 1px solid black;
}

footer {
  border-top: 1px solid black;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin-top: 08rem;
}

footer p {
  font-size: 15px;
}

@media all and (max-width: 809px) {
  html {
    font-size: 50%;
  }
}

@media all and (max-width: 650px) {
  html {
    font-size: 25%;
  }
}

@media all and (max-width: 320px) {
  .wrapper {
    margin: 0 2rem;
  }
}