/* Snippet Styles */

.embedCode {
  font-size: 15px;
}

.embedInfo {
  text-align: center;
  font-size: 22px;
  margin: 08rem;
}

.main pre {
  padding: 25px;
  margin: 0 auto;
  font-size: 18px;
  background: #000;
  display: none;
  overflow-x: scroll;
}

.snippet {
  color: #fff;
}